/* src/app/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* App primitives */
:root {
  --bg: #0b0b0d;
  --text: #e5e7eb; /* zinc-200 */
}

html, body {
  height: 100%;
}

body {
  background-color: var(--bg);
  color: var(--text);
}